<!-- User -->
<%= render 'layouts/navbar' %>

<div class="user-container">


  <!-- Information on the user -->
  <div class="information">

    <div class="user-info">

      <div class="avatar-info">
        <% avatar_url = "http://placehold.it/71x71" %>
        <%= image_tag avatar_url, class: "avatar-custom" %>
      </div>

      <div class="avatar-name">
        <p><strong><%= @user.email %></strong>
          <br>
          <%= full_name unless full_name.nil? %>

        </p>
      </div>

    </div>
    <div class="mata-info">
      <p>
      <br>
      <strong>Member since: </strong>
        <%= (@user.created_at).to_date.strftime('%a %d %b %Y') %>
      <br>
      <strong>Last signed in: </strong>
        <%= time_ago_in_words(@user.last_sign_in_at)%> ago
    </div>

    <h3><b>Update profile</b></h3>
    <div class="user-form">





    <%= simple_form_for :user, url: user_update_path(current_user.id), action: :update, method: :post do |f| %>
        <%= f.error_notification %>

        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.text_field :email %>
        <%= f.submit "Update Account" %>

      <% end %>

    </div>

    <div class="discription-info">
    </div>

    <div class="user-footer"
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>


  </div>
</div>




