<!-- Navbar -->
<%= simple_form_for @jam do |f| %>

<div class="new-container">

  <!-- Image upload -->
  <div class="upload-image">
    <div class="image-box">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
  </div>

  <!-- Information upload -->
  <div class="input-information">
    <%= f.input :description, placeholder: 'Describe your jam with relevent information', label: false, :input_html => { :class => 'sf-description' } %>
    <%= f.input :category, placeholder: 'Category', label: false %>
    <%= f.input :price, placeholder: 'Price in Champignon', label: false %>
    <%= f.input :address, placeholder: 'Address', label: false %>
    <%= f.input :ingredient, placeholder: 'Ingredients', label: false %>
    <%= f.submit 'Submit', :class => 'btn btn-danger' %>

  </div>


</div>

<% end %>
