<!-- Navbar -->
<%= render 'layouts/navbar' %>

<div class="index-container">
  <div class="index-description">
    <span>Hello, and welcome to our community. We are here to satisfy your every jam related need. Please, make yourself at home.</span>
  </div>
  <div class="index-title">
    <span id="index-title">Explore jams</span>
   <!--  <a href="#" id="map-btn"> -->
    <span id="index-map-title">Map</span>
    <!-- </a> -->
  </div>

  <div class="index-image">
    <div class="product-row">
      <div class="product-display product-display-50 col-xs-6" id="product">
        <% @jams.each  do |image| %>
          <div class="product-item">
            <%= img = cl_image_tag( image.photo, width: 155, height: 155, crop: :scale) %>
            <%= link_to("#{image.price}$", jam_path(image), class: "index-price") %>
          </div>
        <% end %>
      </div>
    <div class="map-container-50 col-xs-6" id="map-container">
      <div id="map" style="width: 105%; height: 100%;"></div>
    </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var styles = [
    {
        "featureType": "administrative.country",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "administrative.locality",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    }
];

      var handler = Gmaps.build('Google');

      handler.buildMap({
        provider: {
          styles: styles
          // pass in other Google Maps API options here
          // => https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        },
        internal: { id: 'map' } }, function() {
        // [ ... ]
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.map.centerOn(markers[0]);

        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>







   <%# <% content_for(:after_js) do %>
 <%#  <%= javascript_tag do %>

  <%#  $(document).ready(function() {
      $('#map-btn').on("click", function(event) {
        if ($('#map').is(":visible")) {

          $('#map').hide();
          $(".product-display").removeClass("product-display-50");
          $('#map-container').hide();

        } else {

          $('#map').show();
          $('#map-container').show();
          $(".product-display").addClass("product-display-50");

        }

      });
    });

  <% end %>
  <%#<% end %>











