<h1>New Jam</h1>

<%= render 'layouts/navbar' %>
<div class="container image">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= cl_image_tag("gypsy-queen_ahqu9f",
      width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= cl_image_tag("gypsy-queen_ahqu9f",
      width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= cl_image_tag("gypsy-queen_ahqu9f",
      width: 400, height: 300, crop: :fill) %>
      
    </div>
  </div>
</div>
<%= render 'form' %>

<%= link_to 'Back', jams_path %>
