<!-- Navbar -->
<%= render 'layouts/navbar' %>

<div class="show-container">
  <!-- Pictures of the product -->
  <div class="pictures">

    <%= cl_image_tag( @jam.photo, width: 450, height: 450, crop: :scale) %>
  </div>

  <!-- Information on the user -->
  <div class="information">

    <div class="user-info">

      <div class="avatar-info">
        <% avatar_url = "http://placehold.it/71x71" %>
        <%= image_tag avatar_url, class: "avatar-custom" %>
      </div>

      <div class="avatar-name">
        <p><strong><%= @user.email.split("@")[0] %></strong>
          <br>
          <strong><%= @jam.name %></strong>
        </p>
      </div>

    </div>


    <div class="discription-info">
      <span><%= @jam.description %></span>
    </div>
    <div class="mata-info">
      <p>
        <br>
        <%= time_ago_in_words(@jam.created_at) %> ago
      </p>
    </div>

    <!--   information about the price of the product -->
    <div class="buying-info">

      <a type="button" data-toggle="modal" data-target="#buyModal" data-whatever=<% "#{@user.email}" %>>Buy</a>

      <span id="price"><%= "#{@jam.price} champignons" %></span>

    </div>

    <!--   Comments section -->
    <div class="comment-info">
      <ul id='comments'>
        <% @comments = Comment.where(:jam_id => @jam.id) %>
         <% @comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
        <% end %>
      </ul>

      <!--   Input Box -->
      <div class="row">
        <div class="comment-input-container">
          <div class="col-3" id='comment_box'>
            <%= render 'comments/form', jam: @jam, comment: Comment.new %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal" id="buyModal">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "yujams_logo.png" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="form-inputs">

        <div class="buy-form">
            <%= simple_form_for :trade, url: new_trade_path(@jam), action: :create, method: :post do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :message, required: false, autofocus: true, autofocus: true %>
            </div>
            <div class="modal-footer">
              <div class="form-actions">
                <a><%= f.button :submit, "Apply" %></a>
              </div>
              <div class="currency-accepted">
                <span>The only currency accepeted is the Champignon</span>
              </div>
            </div>
            <% end %>
          </div>


        </div>

      </div>
    </div>
  </div>














