<!-- Navbar -->
<%= render 'layouts/navbar' %>

<div class="show-container">
  <!-- Pictures of the product -->
  <div class="pictures">

    <%= cl_image_tag( @jam.photo, width: 450, height: 450, crop: :scale) %>
  </div>

  <!-- Information on the user -->
  <div class="information">

    <div class="user-info">

      <div class="avatar-info">
        <% avatar_url = "http://placehold.it/71x71" %>
        <%= image_tag avatar_url, class: "avatar-custom" %>
      </div>

      <div class="avatar-name">
        <p><strong><%= @user.email.split("@")[0] %></strong>
          <br>
          <strong><%= @jam.name %></strong>
        </p>
      </div>

    </div>


    <div class="discription-info">
      <span><%= @jam.description %></span>
    </div>
    <div class="mata-info">
      <p><%# @user.location %>
      <br>
      <%= time_ago_in_words(@jam.created_at) %> ago
      </p>
    </div>

  <!--   information about the price of the product -->
    <div class="buying-info">

      <a type="button" data-toggle="modal" data-target="#exampleModal" data-whatever=<% "#{@user.email}" %>>Buy</a>

      <span id="price"><%= "#{@jam.price} champignons" %></span>

    </div>

  <!--   Comments section -->
    <div class="comment-info">
      <ul>
        <% @comments.each do |comment| %>
          <li><strong><%= "#{@user.email.split("@")[0]}: " %></strong> <%="#{comment.content}" %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <%= image_tag "yujams_logo.png" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">

            <input type="text" placeholder=<%= @user.email %> class="form-control" id="recipient-name">

          </div>

          <div class="form-group">

            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Send offer</button>
        <div class="currency-accepted">
          <span>The only currency accepeted is the Champignon</span>
        </div>
      </div>
    </div>
  </div>
</div>
















