<div class="navbar-wagon">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "yujams_logo.png", class: "navbar-icon" %>
  <% end %>
    <!-- Different navigation if login or not -->
      <%= form_tag results_path, method: :get ,:id => 'search-bar' do  %>
            <%= text_field_tag :query, value = nil, class: "search-content", placeholder:"search for your favorite jams..." %>
          <% end %>
    <% if user_signed_in? %>
      <div class="nav-options">
        <a class="search">Search</a>
        <span><%= link_to "Profile", user_show_path(current_user.id) %></span>
        <a ><span><%= link_to("Create", new_jam_path) %></span></a>
        <a ><span><%= link_to('Logout', destroy_user_session_path, method: :delete) %></span></a>
    <span><%= link_to "", show_trade_path(current_user.id), :class => "shopping-cart" %></span>
      </div>
    <% else %>
      <div class="nav-options">
        <a class="search">Search</a>
        <a data-toggle="modal" data-target="#login"><span>Login</span></a>
      </div>
    <% end %>
    <!-- Login Modal -->
    <div class="modal" id="login" >
      <%= render "devise/shared/log" %>
    </div>
    <!-- Signup Modal -->
    <div class="modal" id="signup" >
      <%= render "devise/shared/reg" %>
    </div>
  </div>

