<div class="navbar-wagon">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "yujams_logo.png" %>
  <% end %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->

    <% if user_signed_in? %>


      <div class="nav-options">
        <a><span><%= link_to t(".top_call_to_action", default: "Search") %></span></a>
        <a><span><%= link_to "Profile", user_show_path(current_user.id) %></span></a>
        <a><span><%= link_to("Create", new_jam_path) %></span></a>
        <a><span><%= link_to('Logout', destroy_user_session_path, method: :delete) %></span></a>
      </div>
    </div>

    <% else %>

    <div class="nav-options">
<!--       <form class="searchbox">
          <input type="search" placeholder="Search for jams" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
          <input type="submit" class="searchbox-submit" value="GO">
          <span class="navbar-search searchbox-icon">GO</span>
      </form> -->
      <a><span>Search</span></a>
      <a data-toggle="modal" data-target="#login"><span>Login</span></a>


    </div>

    <% end %>

    <!-- Login Modal -->
    <div class="modal" id="login" >
      <%= render "devise/shared/log" %>
    </div>

    <!-- Signup Modal -->
    <div class="modal" id="signup" >
      <%= render "devise/shared/reg" %>
    </div>
  </div>
</div>
